{
    "n_epochs": 150,
    "init_lr": 0.05,
    "lr_schedule_type": "cosine",
    "lr_schedule_param": null,
    "dataset": "imagenet",
    "train_batch_size": 256,
    "test_batch_size": 1000,
    "valid_size": null,
    "opt_type": "sgd",
    "opt_param": null,
    "weight_decay": 4e-05,
    "label_smoothing": 0.1,
    "no_decay_keys": null,
    "mixup_alpha": null,
    "model_init": "he_fout",
    "validation_frequency": 1,
    "print_frequency": 10,
    "n_worker": 20,
    "resize_scale": 0.08,
    "distort_color": "tf",
    "image_size": 240
}